:root {
  --app-text: hsl(200, 15%, 8%);
  --app-background: hsl(0, 0%, 98%);
  --color-light: hsl(0, 0%, 100%);
  --shadow-search-color: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
  --shadow-card-color-hover: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  --shadow-color: 1px 1px 7px 0 rgba(0, 0, 0, 0.4);
  /* box-shadow */
}

[data-theme="dark"] {
  --app-text: #ffffff;
  --app-background: #202c36;
  --color-light: #2b3844;
  --shadow-color: 1px 1px 7px 0 rgba(255, 255, 255, 0.4);
  --shadow-card-color-hover: 0 0 3px 2px rgba(255, 255, 255, 0.3);
  /* box-shadow */
}
